/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  body{
    font-family: 'Open Sans', sans-serif;
  }
    
  :root{
    --dc-dark: #1c1c1c;
    --dc-light: white;
    --dc-primary: #0282f9;
    --dc-secondary: #303030;
    --dc-gray: #949496;
    --dc-green: #55ba59
  }
    
  .container{
    width: 70%;
    max-width: 1176px;
    margin: auto;
  }

  .container-single{
    width: 60%;
    max-width: 1176px;
    margin: auto;
  }
    
  .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  [class^='col-']{
    padding: 1rem;
}
    
  .d-flex{
    display: flex;
  }

  .flex-end{
    justify-content: flex-end;
  }

  .align-items-center{
    align-items: center;
  }

  .justify-content-between{
    justify-content: space-between;
  }

  .relative{
    position: relative;
  }

  .primary{
    color: var(--dc-primary);
  }
  
  ul{
    list-style: none;
  } 
  
  li a{
    text-decoration: none;
  }
  
  .col-2{
    width: calc((100% / 12) * 2);
  }

  .col-3{
    width: calc((100% / 12) * 3);
  }

  .col-4{
    width: calc((100% / 12) * 4);
  }

  .col-6{
    width: calc((100% / 12) * 6);
  }

  .col-8{
    width: calc((100% / 12) * 8);
  }
  
/* #endregion Common */



/* #region Header */

.header-top{
    background-color: var(--dc-primary);
    color: var(--dc-light);
    font-size: 9px;
    padding: 0.25rem;
}

.header-top span{
    margin-left: 1rem;
}

.logo img{
    width: 60px;
    padding: 1rem 0;
  }
  
  .main_menu{
    display: flex;
  }
  
  .main_menu a{
    padding: 2.25rem 0.75rem;
    color: var(--dc-secondary);
    font-size: 10px;
    font-weight: 700;
    transition: all;
  }
  
  .main_menu a:hover{
    border-bottom: 5px solid var(--dc-primary);
    color: var(--dc-primary);
  }
  
  .main_menu a.active{
    border-bottom: 5px solid var(--dc-primary);
    color: var(--dc-primary);
  }

  .search{
      border-bottom: 2px solid #0282f9;
    }
    
.search input{
        outline: none;
        border: none;
  }

  .jumbotron{
    height: 350px;
    background-image: url('../images/jumbotron.jpg');
    background-size: 100%;
  }

/* #endregion Header */



/* #region Main */

.current_series{
    color: var(--dc-light);
    background-color: var(--dc-primary);
    padding: 0.75rem 2rem;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: -21px;
    left: 15%;
    border: none;
  }
  
  .main_top{
    background-color: var(--dc-dark);
    color: var(--dc-light);
    padding: 2rem 0;
    position: relative;
  }
  
  .row{
    margin: 0;
  }
  
  .load{
    color: var(--dc-light);
    background-color: var(--dc-primary);
    padding: 0.6rem 3rem;
    border: none;
    font-weight: 600;
    font-size: 10px;
    margin: auto;
    display: block;
    transition: all 0.5s;
  }
  
  .load:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--dc-primary);
  }

  .card img{
    width: 100%;
    aspect-ratio: 2/3;
  }
  
  .card span{
    font-size: 12px;
  }
  
  .card:hover{
    transform: scale(1.1);
  }
  
  .card img:hover{
    box-shadow: 0 0 20px var(--dc-gray);
    
  }

.main_bottom{
    background-color: var(--dc-primary);
    color: var(--dc-light);
    padding: 2rem 0;
  }
  
  .icons{
    justify-content: space-around;
  }
  
  .icon{
    display: flex;
    align-items: center;
  }
  
  .icon img{
    width: 35px;
    transition: all 0.25s;
  }
  
  .icon span{
    padding-left: 1rem;
    font-size: 10px;
  }
  
  .icon:hover img{
    transform: scale(1.5);
  }
/* #endregion Main */



/* #region singleMain */

.comic-1{
  height: 60px;
  background-color: var(--dc-primary);
}

.comic-1 img{
  width: 150px;
  position: absolute;
  top: -170px;
  margin-left: 1rem;
}

.comic-details{
  margin-top: 2rem;
}

.comic-details-top{
  padding-bottom: 2rem;
}

.comic-details h2, .comic-details h3{
  color: #003f5e;
}

.comic-details img{
  width: 100%;
}

.comic-details-green{
  background-color: var(--dc-green);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}

.comic-details-green .check{
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.available, .us-price{
  color: #bafd9c;
}

.price, .check{
  color: var(--dc-light);
}

.description{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.3rem;
}

.advertisement{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: end;
}

.comic-details-bottom, .merchandise{
  background-color: #f6f6f6;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.comic-details-bottom .col-4{
  margin-left: -1rem;
  color: #003f5e;
}

.comic-details-bottom .col-4,
.comic-details-bottom .col-8{
  font-size: 13px;
  font-weight: 600;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.comic-details h3{
  margin-bottom: 1rem;
}

.comic-details .col-6{
  margin-bottom: 4rem;
}

.merchandise .col-3{
  border: 1px solid rgba(128, 128, 128, 0.3);
  font-weight: 600;
  font-size: 13px;
  color: var(--dc-gray);
  display: flex;
  justify-content: space-between;
}

.merchandise img{
  width: 25px;
  background-color: var(--dc-gray);
}







/* #endregion singleMain */



/* #region Footer */


footer{
    background-image: url('../images/footer-bg.jpg');
    background-size: 100%;
  }

  .footer_top .container{
    padding-top: 1rem;
  }
  
  .footer_top .container{
    justify-content: space-between;
    background-image: url('../images/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 500px;
  }
  
  .footer_top col{
    padding-bottom: 2rem;
  }
  
  .footer_top h4{
    color: var(--dc-light);
    padding: 0.75rem 0;
  }
  
  .footer_top ul{
    padding-bottom: 1rem;
  }
  
  .footer_top li a{
    color: var(--dc-gray);
    font-size: 9px;
  }
  
  .footer_top li:hover{
    transform: scale(1.1);
  }
  
  .footer_top li:hover a{
    color: var(--dc-light);
  }
  
  .footer_bottom{
    background-color: var(--dc-secondary);
  }
  
  .footer_bottom .container{
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .sign_up{
    color: var(--dc-light);
    font-weight: 600;
    border: 2px solid var(--dc-primary);
    background-color: var(--dc-secondary);
    padding: 0.75rem;
    margin: 1.5rem 0;
    transition: all 0.5s;
  }
  
  .sign_up:hover{
    background-color: var(--dc-primary);
  }
  
  .social{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .social span{
    color: var(--dc-primary);
    font-weight: 700;
  }
  
  .social img{
    width: 30px;
  }
  
  .social img:hover{
    filter: brightness(3);
    transform: scale(1.2);
  }
  

/* #endregion Footer */



